
<footer>
    <p align="center">&copy; Falcons 运维管理系统 2015</p>
</footer>
<style>
        #external-events {
            float: left;
            width: 150px;
            padding: 0 10px;
            border: 1px solid #ccc;
            background: #eee;
            text-align: left;
            }

        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
            }

        .external-event { /* try to mimick the look of a real event */
            margin: 10px 0;
            padding: 2px 4px;
            background: #3366CC;
            color: #fff;
            font-size: .85em;
            cursor: pointer;
            z-index: 99999999;
            }

        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: #666;
            }

        #external-events p input {
            margin: 0;
            vertical-align: middle;
            }

        </style>
        <!--/.fluid-container-->
        <script src="../static/vendors/jquery-1.9.1.min.js"></script>
        <script src="../static/vendors/jquery-ui-1.10.3.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/vendors/fullcalendar/fullcalendar.js"></script>
        <script src="../static/vendors/fullcalendar/gcal.js"></script>
        <script src="../static/assets/scripts.js"></script>
