
                <div class="span2" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">

                         <li class="">
                            <a href="../index"><i class="icon-chevron-right"></i> 首页</a>
                        </li>
                        <li class="">

                            <a href="../puppet_m_c"><i class="icon-chevron-right"></i>puppet 模块管理</a>
                        </li>
                        <li class="">

                            <a href="../puppet_m_app_1"><i class="icon-chevron-right"></i>查看puppet模块应用</a>
                        </li>

                        <li class="">

                            <a href="../puppet_mod_note_d"><i class="icon-chevron-right"></i>节点删除模块</a>
                        </li>
                        <li>
                            <a href="../salt_app_g"><i class="icon-chevron-right"></i>同步（主机组)</a>
                        </li>
                        <li>
                            <a href="../salt_app_h"><i class="icon-chevron-right"></i>同步（节点）</a>
                        </li>
                        <li>
                            <a href="../salt_re_list"><i class="icon-chevron-right"></i>同步日志</a>
                        </li>


                    </ul>
                </div>
