
<!DOCTYPE html>
<html>
{%  include "base_head.html" %}

    <body>
        <div class="navbar navbar-fixed-top">
          {% include "base_mu.html" %}
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                {% include "base_sidebar.html" %}
                <!--/span-->
                <div class="span10" id="content">
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                        <form action="" method="post">{% csrf_token %}
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">puppet 基础路径参数查看</div>
                                   <div class="pull-right"><span class="badge badge-warning">模块修改</span></div>

                            </div>

                            <div class="block-content collapse in">
                                       <!-- {% csrf_token %} -->

                                       <div class="base03">

                                           {% load pagination_tags %}
                                       {% autopaginate show_lines 10 %}
                                           <table class="table table-bordered">
                                              <tr>
                                                  <td>选择</td>
                                                  <td>puppet 模块名 </td>
                                                  <td>文件名</td>
                                                  <td>内容</td>

                                              </tr>

                                               {% for foo in show_lines %}
                                                   <tr>
                                                          <td> <input type="radio" name="checkbox" value="{{ foo.id }}" {% if items.is_checked %}checked{% endif %}></td>
                                                          <td>{{ foo.model_name }}</td>
                                                          <td>{{ foo.file_name }}</td>
                                                          <td>{{ foo.contents }}</td>
                                                   </tr>
                                               {% endfor %}

                                           </table>
                                       <input type="submit" value="修改" class="btn btn-info">
                                       {% paginate %}


                                       </div>
                        </form>

                                <div class="span10">
                                    <div id='calendar'></div>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>
            </div>
            <hr>

        </div>
    {% include "base_below.html" %}

    </body>

</html>