<!DOCTYPE html>
<html>
{%  include "base_head.html" %}

    <body>
        <div class="navbar navbar-fixed-top">
          {% include "base_mu.html" %}
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                {% include "base_sidebar.html" %}
                <!--/span-->
                <div class="span10" id="content">
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">

                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">节点中删除模块</div>
                                <div class="pull-right"><span class="badge badge-warning">删除模块</span></div>

                            </div>
                        <form action="" method="post" onsubmit="model_del()">{% csrf_token %}
                            <div class="block-content collapse in">
                                       <!-- {% csrf_token %} -->

                                       <div class="base03">
                                        {% load pagination_tags %}
                                       {% autopaginate show_lines 10 %}
                                           <table class="table table-bordered">
                                              <tr>
                                                  <td><input id="checkAll" type="checkbox" />全选</td>
                                                  <td>puppet 模块名 </td>
                                                  <td>主机点名</td>
                                                  <td>主机组</td>
                                                  <td>ipv4</td>

                                              </tr>

                                               {% for foo in show_lines %}
                                                   <tr>
                                                          <td><input type="checkbox" name="checkbox" value="{{ foo.id }}" {% if items.is_checked %}checked{% endif %}></td>
                                                          <td>{{ foo.mod_name}}</td>
                                                          <td>{{ foo.mod_host }}</td>
                                                          <td>{{ foo.group_name }}</td>
                                                          <td>{{ foo.ip }}</td>


                                                   </tr>
                                               {% endfor %}

                                           </table>
                                       <input id="checkAll" type="checkbox" />全选
                                       <input type="submit" value="删除" class="btn btn-info">
                                       {% paginate %}
                                       </div>
                            </form>
                                <div class="span10">
                                    <div id='calendar'></div>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>
            </div>
            <hr>

        </div>
    {% include "base_below.html" %}

    </body>

</html>