<!DOCTYPE html>
<html>
{%  include "base_head.html" %}
    
    <body>
        <div class="navbar navbar-fixed-top">
          {% include "base_mu.html" %}
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                {% include "base_sidebar.html" %}
                <!--/span-->
                <div class="span10" id="content">
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">salt 基础路径参数修改</div>
                                   <div class="pull-right"><span class="badge badge-warning">salt config </span>
                                   </div>
                            </div>
                            <div class="block-content collapse in">
                                   <form  method="post" action="">{% csrf_token %}
                                       <div class="base03">
                                           {{ salt_form.as_p }}
                                       </div>
                                       <input type="submit" value="确 定" class="btn btn-info">
                                   </form>


                                <div class="span10">
                                    <div id='calendar'></div>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>
            </div>
            <hr>

        </div>
    {% include "base_below.html" %}

    </body>

</html>